@import url('https://fonts.googleapis.com/css2? family= Castoro & family= Roboto+Condensed:wght@300 & display=swap');

/************************* CORES ***********************/

:root {
  --branco: #fff;
  --preto: rgba(#255,255,255,0);
  --cinzaclaro: #f4f4f4;
  --cinza: #ccd1d9;
  --cinzaescuro: #666666; 
  --dark: #033,37,41;
  --cor-primaria: #F26D3D;
  --preto-hover: #242221;
  --pretoopaco: rgba(0,0,0,0.7);
  --cor-secundaria:#4B68BF;
  --cor-secundaria2: #F28B30;
  --cor-secudaria3:#F2C230; 
  --verde: green;

}
body {
  background-image: url(../images/assets/Fundo_arte.png);
}
.avaliacoes {
    margin-top: 15vh;
    background-size: cover;
    text-align: center;
  }
  
  .avaliacoes h1 {
    color: #fff;
    font-weight: 200px;
    text-transform: uppercase;
  }
  .avaliacoes-content {
    text-align: center;
    max-width: 53.125rem;
    margin: 0 auto 2rem auto;
    background: var(--pretoopaco);
    border-radius: 20px;
  }
  
  .meucarousel {
    color: var(--branco);
    background: transparent;
    margin-top: -15%;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    height: 17.875rem;
  }
  
  .meucarousel h3 {
    color: var(--cor-secundaria2);
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .meucarousel p {
    color: #fff;
  }
  .carousel .slide {
    background: transparent !important;
    height: 100% !important;
    padding-top: 2rem;
  }
  .carousel-root {
    margin: auto !important;
    margin-top: 3% !important;
  }
  .avaliacoes .slide img {
    width: 10rem !important;
    border-radius: 20%;
  }