* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.carouselindex {
  padding: 77px 55px 33px 55px;

}
.carouselindex-img img {
  border-radius: 20px;
}
.index {
  width: 100%;
  background-image: url(../images/assets/Fundo_arte.png);
}

.index-text h4 {
  padding-bottom: 50px;
  color: white; text-shadow: black 0.1em 0.1em 0.2em
}
.vagas-filho {
  justify-content: space-around;
}
  .vagas-neto img {
    width:150px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: -1;
  }
  .vagas-neto img:hover {
    transform:scale(1.25, 1.25);
  }
  .vagas-neto img:hover::after {
    opacity: 1;
  }
  .vagas-neto-figtext {
    padding-bottom: 15px;
    font-size: 12px;
    color: white; text-shadow: black 0.1em 0.1em 0.3em
  }

  
  
