@import url('https://fonts.googleapis.com/css2? family= Castoro & family= Roboto+Condensed:wght@300 & display=swap');

/************************* CORES ***********************/

:root {
  --branco: #fff;
  --preto: rgba(#255,255,255,0);
  --cinzaclaro: #f4f4f4;
  --cinza: #ccd1d9;
  --cinzaescuro: #666666; 
  --dark: #033,37,41;
  --cor-primaria: #F26D3D;
  --preto-hover: #242221;
  --pretoopaco: rgba(0,0,0,0.7);
  --cor-secundaria:#4B68BF;
  --cor-secundaria2: #F28B30;
  --cor-secudaria3:#F2C230; 
  --verde: green;

}

.body {
  font-family: 'Roboto Condensed' sans-serif !important;
}

.nav {
    z-index: 2;
  }
  
  .logo {
    width: 2.30rem;
  }
  
  .nav-link {
    text-transform: uppercase;
  }
  .nav a.nav-link {
    font-size: .9rem;
    letter-spacing: 0.0375;
    cursor: pointer;
  }
  
  .nav ul li {
    text-transform: uppercase;
  }
  
  .navbar-nav > li > a {
    margin-right: 0.40rem;
    margin-left: 0.40rem;
    color: var(--branco) !important;
    border-top: 0.1050rem solid rgb(255,255,255,0);
  }
  
  .navbar-brand {
    max-width: 17.25rem;
    padding: 0 !important;
    height: 3rem;
  }
  
  @media(max-width: 768px) {
    .navbar-brand {
      width:7rem;
    }
  }
  
  .navbar-nav > li > a.active, .navbar-nav > li >  a:focus {
    border-top: 0.1050rem solid var(--cor-secundaria2);
  }
  
  .navbar-nav > li > a:hover {
    border-top: 0.1050rem solid var(--cor-secundaria2);
  }
  
  -div{
 border: solid red;
  }